/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100vw;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(10px);
    color: white;
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(254, 254, 254, 0.181);
    max-width: 1100px;
}

#footer hr {
    color: rgba(255, 255, 255, 0.25);
    width: 80%;
}

.footer-content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 2rem;
}

.footer-logo img {
    display: flex;
    justify-content: center;
    width: 100px;
}

.footer-pages,
.footer-skills,
.footer-contact,
.footer-newsletter {
    display: flex;
    flex-direction: column;
}

.footer-pages h3,
.footer-skills h3,
.footer-contact h3,
.footer-newsletter h3 {
    font-weight: 800;
}

.footer-pages ul,
.footer-skills ul {
    list-style-type: none;
}

.footer-contact a,
.footer-newsletter a,
.footer-pages a,
.footer-skills a {
    color: white; /* Set a uniform link color */
    text-decoration: none;
}

.footer-contact a:hover,
.footer-newsletter a:hover,
.footer-pages a:hover,
.footer-skills a:hover {
    text-decoration: underline; /* Optional: Add underline on hover for better UX */
}

.footer-contact a:visited,
.footer-newsletter a:visited,
.footer-pages a:visited,
.footer-skills a:visited {
    color: white; /* Ensure visited links remain the same color */
}

.footer-contact a:active,
.footer-newsletter a:active,
.footer-pages a:active,
.footer-skills a:active {
    color: white; /* Ensure active links remain the same color */
}

.copyright {
    padding: 2rem;
}

/* Media Queries for responsiveness */
@media (max-width: 650px) {
    #footer {
        padding: 10px; /* Reduce padding */
    }

    .footer-content {
        flex-direction: column; /* Stack content vertically on small screens */
        align-items: center; /* Center-align the content */
    }

    .footer-logo img {
        width: 80px; /* Slightly reduce the size of the logo on small screens */
    }

    #footer hr {
        width: 90%; /* Increase width percentage to maintain styling */
    }

    .footer-pages,
    .footer-skills,
    .footer-contact,
    .footer-newsletter {
        align-items: center; /* Center the items */
        text-align: center; /* Center the text */
        margin-bottom: 20px; /* Add margin between sections */
    }
}
