* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: relative;
    min-height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(45deg, #031a01 10%, #1c302a 50%, #031a01 80%);
    overflow-x: hidden;
    padding: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: 
        linear-gradient(to bottom left, transparent, #01011a),
        linear-gradient(to right, #031a01 1px, transparent 1px),
        linear-gradient(to bottom, #031a01 1px, transparent 1px);
    background-size: 100% 100%, 14px 24px, 14px 24px;
    background-repeat: no-repeat, repeat, repeat;
    pointer-events: none;
}

.text-content h1 {
    font-size: 72px; /* Big heading */
    margin: 0;
}

.green-gradient-text {
    position: relative; /* Establish a positioning context for pseudo-elements */
    display: inline-flex;
    background-image: linear-gradient(45deg, #00d0ff, #4dff03);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the text color transparent to see the gradient */
    z-index: 2; /* Ensure the text is above the pseudo-elements */
}

#hero-section {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.intro-text {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-bottom: 3rem;
}

.intro-text h1 {
    font-size: 3rem;
    text-align: center;
}


@media (min-width: 720px) {
    .gradient {
        --size: 1000px; /* Larger size for wider screens */
        --blur-amount: 200px; /* Larger blur amount for wider screens */
    }
}